@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #333;
  width: 100%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .2rem;
}

header a {
  display: inline-block;
  color: #fff;
  line-height: 64px;
}

header nav {
  margin-left: auto;
}

header ul {
  display: flex;
}

header li a {
  padding: 0 20px;
  letter-spacing: .2rem;
  text-indent: .2rem;
  transition: .3s;
}

header li a:hover {
  background: #555;
}

.sp-menu {
  display: none;
}

.sp-overlay {
  display: none;
}

/* mv */
.mv {
  flex-shrink: 0;
  background: linear-gradient(140deg, royalblue, violet);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mv h2 {
  color: #fff;
  font-weight: normal;
  font-size: 2.5rem;
  letter-spacing: 1.2rem;
  text-indent: 1.2rem;
  border-bottom: 1px solid #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  user-select: none;
}

/* main */
main {
  flex: 1;
  flex-shrink: 0;
}

.profile__tab-menu {
  background: #333;
}

.profile__tab-menu ul {
  display: flex;
  justify-content: center;
}

.profile__tab-menu li a {
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  letter-spacing: .2rem;
  text-indent: .2rem;
  box-sizing: border-box;
}

.profile__tab-menu li a.active {
  background: #fff;
  color: #333;
  border-radius: 10px 10px 0 0;
  transition: none;
  font-weight: bold;
}

.profile__tab-menu li a:not(.active):hover {
  color: #ccc;
  transition: color .3s;
}

.section-title {
  display: none;
}

/* section */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.profile__content {
  display: none;
  padding: 60px 5%;
  box-sizing: border-box;
  min-height: 700px;
}

.profile__content.active {
  display: block;
}

/* about */
.about__intro {
  display: flex;
  gap: 3%;
  align-items: center;
}

.about__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background: royalblue;
  border-radius: 50%;
  font-size: .9rem;
  color: #fff;
  flex-shrink: 0;
}

.about__profile-name {
  font-size: 1.3rem;
  font-weight: 600;
}

.about__profile-role {
  font-size: 1rem;
  font-weight: normal;
  line-height: .9rem;
}

.about__profile-meta {
  margin-top: 10px;
  display: flex;
  gap: 2rem;
}

.about__profile-meta dt {
  font-size: 1rem;
  color: #888;
}

.about__profile-meta dd {
  font-size: 1rem;
}

.about__profile-text {
  margin-top: 32px;
}

/* works */
.works__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.works__grid a {
  color: #333;
}

.works__thumbnail {
  position: relative;
}

.works__thumbnail::after {
  content: "Webサイトへ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: opacity .3s;
}

.works__thumbnail-img {
  width: 100%;
  height: 250px;
  background: lightgray;
  transition: filter .3s;
  cursor: pointer;
}

.works__item:hover .works__thumbnail-img {
  filter: brightness(.7);
}

.works__item:hover .works__thumbnail::after {
  opacity: 1;
}

.works__grid h3 {
  font-size: 1rem;
  padding-top: 4px;
}

.works__item p {
  color: #888;
}

.works__more-btn {
  display: none;
}

/* contact */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  user-select: none;
}

.contact-form label {
  display: flex;
}

.contact-form span {
  display: inline-block;
  width: 100px;
  flex-shrink: 0;
}

.contact-form span::after {
  content: "*必須";
  color: red;
  font-size: 10px;
  vertical-align: top;
}

.contact-form input {
  padding: 5px 10px;
  border: 1px solid #bbb;
}

.contact-form__email input {
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.contact-form textarea {
  flex: 1;
  min-width: 0;
  height: 300px;
  resize: none;
  padding: .5rem;
  line-height: 1rem;
  border: 1px solid #bbb;
}

.contact-form__send-btn {
  text-align: center;
}

.contact-form__send-btn button {
  all: unset;
  padding: .7rem 3rem;
  background: #333;
  border: 1px solid #333;
  color: #fff;
  transition: .3s;
  cursor: pointer;
}

.contact-form__send-btn button:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #888;
}

/* footer */
footer {
  background: #333;
  text-align: center;
}

footer small {
  color: #fff;
  line-height: 24px;
  font-size: 12px;
}

@media (max-width: 599px) {
  header {
    padding-left: 4%;
  }

  header h1 {
    font-size: 24px;
  }

  header a {
    line-height: 50px;
  }

  .pc-menu {
    display: none;
  }

  /* humburger */
  .sp-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    gap: 8px;
    cursor: pointer;
    padding: 14px 0;
    z-index: 3;
    margin-left: auto;
  }

  .sp-menu span {
    display: inline-block;
    background: #fff;
    width: 30px;
    height: 2px;
    transition: .3s;
  }

  .sp-menu.open .line-1 {
    transform: translateY(10px) rotate(45deg);
  }

  .sp-menu.open .line-2 {
    opacity: 0;
  }

  .sp-menu.open .line-3 {
    transform: translateY(-10px) rotate(-45deg);
  }

  /* overlay */
  .sp-overlay {
    display: block;
    background: rgba(20, 20, 20, .8);
    width: 250px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 100%;
    transform: translate(250px, -400px);
    transition: transform .4s;
    z-index: 2;
  }

  .sp-overlay .nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 40px;
  }

  .sp-overlay .nav-items a {
    font-size: 1.2rem;
    line-height: 60px;
  }

  .sp-overlay .nav-items li {
    opacity: 0;
    transform: translate(-16px);
  }

  .sp-overlay.open .nav-items li {
    opacity: 1;
    transform: none;
    transition: .2s;
  }

  .sp-overlay .nav-items li:nth-child(2) {
    margin-left: 10px;
  }

  .sp-overlay .nav-items li:nth-child(3) {
    margin-left: 30px;
  }

  .sp-overlay .nav-items li:nth-child(4) {
    margin-left: 60px;
  }

  .sp-overlay.open .nav-items li:nth-child(1) {
    transition-delay: .3s;
  }

  .sp-overlay.open .nav-items li:nth-child(2) {
    transition-delay: .4s;
  }

  .sp-overlay.open .nav-items li:nth-child(3) {
    transition-delay: .5s;
  }

  .sp-overlay.open .nav-items li:nth-child(4) {
    transition-delay: .6s;
  }

  .sp-overlay .nav-items a:hover {
    background: none;
    color: royalblue;
  }

  .sp-overlay.open {
    transform: none;
  }

  /* mv */
  .mv h2 {
    font-size: 1.7rem;
    letter-spacing: 1rem;
  }

  /* main */
  .profile__tab-menu {
    display: none;
  }

  .profile__content {
    display: block;
    padding: 30px 4%;
    min-height: 0;
    scroll-margin-top: 50px;
  }

  .section-title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    background: #333;
    font-size: 1.3rem;
    line-height: 2.7rem;
    padding-inline: 1.5rem;
    box-sizing: border-box;
    font-weight: 500;
  }

  /* about */
  .about__intro {
    gap: 5%;
  }

  .about__icon {
    width: 110px;
    height: 110px;
  }

  .about__profile-name {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.1rem;
  }

  .about__profile-role {
    font-size: .7rem;
    font-weight: normal;
    line-height: .9rem;
  }

  .about__profile-meta {
    flex-wrap: wrap;
    gap: 4px 1rem;
    margin-top: 6px;
  }

  .about__profile-meta dt,
  .about__profile-meta dd {
    font-size: .8rem;
  }

  .about__profile-text {
    margin-top: 1rem;
  }

  .about__profile-text h3 {
    font-size: 1.1rem;
  }

  .about__profile-text p {
    font-size: .9rem;
  }

  /* works */
  .works__grid {
    grid-template-columns: 1fr;
  }

  .works__thumbnail-img {
    height: 200px;
  }

  .works__grid h3 {
    font-size: .9rem;
  }

  .works__item p {
    font-size: .8rem;
  }

  .works__item:nth-child(n + 4) {
    display: none;
  }

  .works__wrapper.open .works__item:nth-child(n + 4) {
    display: block;
    animation: works-slideUp .3s;
  }

  .works__more-btn {
    display: block;
    text-align: right;
  }

  .works__more-btn button {
    all: unset;
    color: #333;
    border: 1px solid #333;
    padding: 8px 15px 8px 20px;
    cursor: pointer;
  }

  .works__more-btn button::after {
    content: " ↓";
  }

  .works__wrapper.open .works__more-btn button::after {
    content: " ↑";
  }

  @keyframes works-slideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }

  /* contact */
  .contact-form label {
    flex-direction: column;
    gap: 6px;
  }

  .contact-form textarea {
    flex: none;
  }

  .contact-form__name {
    max-width: 250px;
  }

  .contact-form__email input {
    min-width: 100%;
    box-sizing: border-box;
  }
}